## Dataset Load

In [2]:
import pandas as pd
import numpy as np

In [4]:
arquivo = pd.read_csv('wine_dataset.csv')

In [6]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
arquivo['style'] = arquivo['style'].replace('red', 0)
arquivo['style'] = arquivo['style'].replace('white', 1)

## Separating Variables between Predictors and Target

In [11]:
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [13]:
from sklearn.model_selection import train_test_split

#test dataset and train dataset 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [15]:
from sklearn.ensemble import ExtraTreesClassifier
#model creation
model = ExtraTreesClassifier(n_estimators = 100)
model.fit(x_train, y_train)

#showing results
results = model.score(x_test, y_test)
print("Accuracy:", results)

Accuracy: 0.997948717948718

In [24]:
y_test[400:410]

4606    1
3244    1
751     0
4479    1
1001    0
149     0
2149    1
1057    0
1627    1
2041    1
Name: style, dtype: int64

In [25]:
x_test[400:410]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4606,5.0,0.27,0.32,4.5,0.032,58.0,178.0,0.98956,3.45,0.31,12.6,7
3244,7.5,0.24,0.49,9.4,0.048,50.0,149.0,0.99620,3.17,0.59,10.5,7
751,8.3,0.65,0.10,2.9,0.089,17.0,40.0,0.99803,3.29,0.55,9.5,5
4479,7.9,0.25,0.35,6.7,0.039,22.0,64.0,0.99362,2.93,0.49,10.7,5
1001,9.9,0.35,0.38,1.5,0.058,31.0,47.0,0.99676,3.26,0.82,10.6,7
149,8.2,0.40,0.44,2.8,0.089,11.0,43.0,0.99750,3.53,0.61,10.5,6
2149,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7
1057,7.6,0.42,0.25,3.9,0.104,28.0,90.0,0.99784,3.15,0.57,9.1,5
1627,7.4,0.27,0.48,1.1,0.047,17.0,132.0,0.99140,3.19,0.49,11.6,6
2041,6.0,0.25,0.28,2.2,0.026,54.0,126.0,0.98980,3.43,0.65,12.9,8

In [28]:
predictions = model.predict(x_test[400:410])
predictions

array([1, 1, 0, 1, 0, 0, 1, 0, 1, 1], dtype=int64)